---
interface Props {
    name: string;
    position: string;
    photo: string;
    hello: string;
    intro: string;
    delay: string;
}

const { name, position, photo, hello, intro, delay } = Astro.props;
---

<div class="col-md-4 mb-xs-30">
    <div class="team-item-wrap wow fadeInUp" data-wow-delay={delay} data-wow-duration="1.2s">
        <div class="team-item-decoration" style="background-image: url(img/team/team-bg.jpg);"></div>
        <div class="team-item">
            <div class="team-item-image">
                <img src={photo} alt={name} />
                <div class="team-item-detail">
                    <p class="team-item-detail-title">{hello}</p>
                    <!--<p>{intro}</p>-->
                </div>
            </div>
            <div class="team-item-descr">
                <div class="team-item-name">{name}</div>
                <div class="team-item-role">{position}</div>
            </div>
        </div>
    </div>
</div>